@model ReportsViewModel

<li class="active">
    <a data-toggle="collapse" href="#reports-nav">
        <span class="icon fa fa-bar-chart"></span><span class="title">Reports</span>
    </a>
    <!-- Dropdown level 1 -->
    <div id="reports-nav" class="panel-collapse collapse">
        <div class="panel-body">
            <ul class="nav navbar-nav"  >
             
                @foreach (var report in Model.Reports)
                {

                    var reportClass = Request.QueryString["reportId"] == report.Id ? "active" : "";
                    reportClass = (Request.QueryString["reportId"]==null)&&(Model.Reports.IndexOf(report)==0) ? "active" : reportClass;
                    <li class="@reportClass " >
                        @Html.ActionLink(report.Name, "Report", new { reportId = report.Id })
                    </li>
                }
            </ul>
            
        </div>
    </div>
</li>