<link href="Content/Home.css" rel="stylesheet" />
<link href="Content/DataTables-1.10.4/css/jquery.dataTables.css" rel="stylesheet" />

<div class="ui-state-default" style="position: relative;">
    <a data-bind="attr: { href: '#Camera/add', target: '_self'}">Add A Camera</a>
</div>

<div style="width:988px;height:910px">

        <!--Table-->
        <div style="margin-left:30px;margin-top:30px;">
            <span class="homeSecurity-title-font">Cameras</span>
        </div>
        <div class="blue-widget" style="margin-left:30px;margin-right:20px">
            <table id="Camera-messageTable" class="table-hover row-border" style="margin-left:10px;width:908px;padding-bottom:10px"></table>
        </div>

</div>

