<link href="Content/Home.css" rel="stylesheet" />
<link href="Content/DataTables-1.10.4/css/jquery.dataTables.css" rel="stylesheet" />

<div style="width:988px;height:910px">

    <div style="margin-left:30px;margin-top:20px;">
        <button data-bind="click: addDevice"> Add device </button>
        <button data-bind="click: freshStatus">Refresh</button>
    </div>

    <!--Table-->
    <div style="margin-left:30px;margin-top:30px;">
        <span class="homeSecurity-title-font">Alerts</span>
    </div>
    <div class="blue-widget" style="margin-left:30px;margin-right:20px">
        <table id="edgeDeviceListTable" class="table-hover row-border" style="margin-left:10px;width:908px;padding-bottom:10px"></table>
    </div>


</div>
