<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>D:\sharing\发布-第二版\Package.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath />
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.DataContextBase" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.DataContextBase, DataAccessLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.WeiboSourceContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.WeiboSourceContext, DataAccessLayer" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataAccess.DataSyncRepository" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataAccess.DataSyncRepository, DataAccessLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataAccess.WordCloudRepository" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataAccess.WordCloudRepository, DataAccessLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="JobContext" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="{{ConnectionString}}" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JobContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="{{ConnectionString}}" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.ProfileDataContext" Order="33" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.ProfileDataContext, DataAccessLayer" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.WeiboTargetContext" Order="34" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.WeiboTargetContext, DataAccessLayer" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.DataContext`1" Order="35" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.DataContext`1, DataAccessLayer" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="MediaMonitoring.Models.ApplicationDbContext" Order="36" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MediaMonitoring.Models.ApplicationDbContext, MediaMonitoring" MigrationConfiguration="MediaMonitoring.Migrations.Configuration, MediaMonitoring" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WeiboDBContext" Order="37" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="{{ConnectionString}}" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\WeiboDBContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="{{ConnectionString}}" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataContext" Order="38" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="{{ConnectionString}}" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DataContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="{{ConnectionString}}" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataAccess.DataSyncRepository-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataAccess.WordCloudRepository-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.DataContextBase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.DataContext`1-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.ProfileDataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.WeiboSourceContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.WeiboTargetContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JobContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)MediaMonitoring.Models.ApplicationDbContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WeiboDBContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataAccess.DataSyncRepository" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataAccess.WordCloudRepository" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.DataContextBase" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.DataContext`1" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.ProfileDataContext" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.WeiboSourceContext" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.WeiboTargetContext" />
    <_ConnectionStringsToInsert Include="MediaMonitoring.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>