<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <DeployIisAppPath />
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName />
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.DataContextBase" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.DataContextBase, DataAccessLayer" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WeiboDBContext" Order="7" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.WeiboSourceContext, DataAccessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataAccess.DataSyncRepository" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataAccess.DataSyncRepository, DataAccessLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataAccess.WordCloudRepository" Order="12" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataAccess.WordCloudRepository, DataAccessLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="JobContext" Order="15" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=g1sa681vaf.database.chinacloudapi.cn,1433;Initial Catalog=sampledb1;Persist Security Info=True;User ID=micdev;Password=mic@2016;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\JobContext_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=g1sa681vaf.database.chinacloudapi.cn,1433;Initial Catalog=sampledb1;Persist Security Info=True;User ID=micdev;Password=mic@2016;MultipleActiveResultSets=True;Encrypt=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DataContext" Order="32" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.DataContext, DataAccessLayer" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataAccess.DataSyncRepository-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataAccess.WordCloudRepository-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.DataContextBase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)JobContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WeiboDBContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataAccess.DataSyncRepository" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataAccess.WordCloudRepository" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.DataContextBase" />
  </ItemGroup>
</Project>