<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://ercenterone.chinacloudsites.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>ercenterone.scm.chinacloudsites.cn:443</MSDeployServiceURL>
    <DeployIisAppPath>ercenterone</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$ercenterone</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.DataContextBase" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.DataContextBase, DataAccessLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataContext" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.DataContext, DataAccessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataAccess.WeeklyReportRepository" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataAccess.WeeklyReportRepository, DataAccessLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MediaMonitoring.Models.ApplicationDbContext, MediaMonitoring" MigrationConfiguration="MediaMonitoring.Migrations.Configuration, MediaMonitoring" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataAccess.WeeklyReportRepository-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.DataContextBase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataAccess.WeeklyReportRepository" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.DataContextBase" />
  </ItemGroup>
</Project>