<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://prmn.chinacloudsites.cn</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>prmn.scm.chinacloudsites.cn:443</MSDeployServiceURL>
    <DeployIisAppPath>prmn</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$prmn</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DataContext" Order="4" Enabled="False">
          <Destination Path="Data Source=g1sa681vaf.database.chinacloudapi.cn,1433;Initial Catalog=imaastvdb;Persist Security Info=True;User ID=micdev;Password=mic@2016;Encrypt=True" Name="Data Source=g1sa681vaf.database.chinacloudapi.cn,1433;Initial Catalog=imaastvdb;Persist Security Info=True;User ID=micdev;Password=mic@2016;MultipleActiveResultSets=True;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.WeiboTargetContext, DataAccessLayer" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.DataContextBase" Order="6" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.DataContextBase, DataAccessLayer" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="7" Enabled="False">
          <Destination Path="Data Source=g1sa681vaf.database.chinacloudapi.cn,1433;Initial Catalog=imaastvdb;Persist Security Info=True;User ID=micdev;Password=mic@2016;Encrypt=True" Name="Data Source=g1sa681vaf.database.chinacloudapi.cn,1433;Initial Catalog=imaastvdb;Persist Security Info=True;User ID=micdev;Password=mic@2016;MultipleActiveResultSets=True;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="MediaMonitoring.Models.ApplicationDbContext, MediaMonitoring" MigrationConfiguration="MediaMonitoring.Migrations.Configuration, MediaMonitoring" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="WeiboDbContext" Order="8" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.WeiboSourceContext, DataAccessLayer" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DataAccessLayer.DataModels.Context.DataContext" Order="9" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="DataAccessLayer.DataModels.Context.DataContext, DataAccessLayer" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.DataContext-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataAccessLayer.DataModels.Context.DataContextBase-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DataContext-Web.config Connection String">
      <ParameterValue>Data Source=g1sa681vaf.database.chinacloudapi.cn,1433;Initial Catalog=imaastvdb;Persist Security Info=True;User ID=micdev;Password=mic@2016;MultipleActiveResultSets=True;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=g1sa681vaf.database.chinacloudapi.cn,1433;Initial Catalog=imaastvdb;Persist Security Info=True;User ID=micdev;Password=mic@2016;MultipleActiveResultSets=True;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)WeiboDbContext-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.DataContext" />
    <_ConnectionStringsToInsert Include="DataAccessLayer.DataModels.Context.DataContextBase" />
    <_ConnectionStringsToInsert Include="WeiboDbContext" />
  </ItemGroup>
</Project>